{% load static  %}
<html>

<head>

    <title>Disguise Face Detection</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <style>
        body {
            background-image: url("{% static  '1.jpg' %}");
            background-size: 100% auto;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="row justify-content-end mt-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center">Login</h4>
                        <hr>
                        <form action="/login/" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" name="loginId" id="loginId"
                                    placeholder="Email ID" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" id="password"
                                    placeholder="Password" autocomplete="off">
                            </div>
                            <div class="form-group text-center">
                                <button class="btn btn-primary">
                                    Login
                                </button>
                            </div>
                            <div class="form-group text-center">
                                <p>Don't have an account?</p>
                                <p>Click <a href="/register/">here</a> to create one</p>
                            </div>
                            {% if error %}
                            <div class="form-group text-center">
                                <div class="alert alert-danger">
                                    {{ error }}
                                </div>
                            </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('#submit').click(function (e) {
                $('#submit').hide();
                $('.loader').show();
            })
        });
    </script>
</body>

</html>